<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/userStyle.css" rel="stylesheet" type="text/css" />
    <title>사용자 정보 입력</title>
</head>
<body>
    <div id="info-box">
        <form action="/userInfo" method="post">
            <div class="info">이름</div> <input class="in" type="text" name="name">
            <br><br>
            <div class="info">전화번호</div> <input class="in" type="text" name="tel">
            <br><br>
            <div class="info">호수</div> <input class="in" type="text" name="num">
            <br><br>
            <div class="info">비밀번호</div> <input class="in" type="text" name="pwd">
            <br><br><br><br>
            {% print(msg) %}
            <br><br>
            <input id="saveBtn" type="submit"value="저장"><br><br>
        </form>
    </div>
</body>
</html>